<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
  
  <listener>
      <listener-class>com.realtalkserver.util.APIKeyInitializer</listener-class>
      <load-on-startup>1</load-on-startup>
  </listener>
    
  <servlet>
      <servlet-name>hello</servlet-name>
      <servlet-class>com.realtalkserver.servlet.HelloServlet</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>hello</servlet-name>
      <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>registerId</servlet-name>
      <servlet-class>com.realtalkserver.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>registerId</servlet-name>
      <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>unregisterId</servlet-name>
      <servlet-class>com.realtalkserver.servlet.UnregisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>unregisterId</servlet-name>
      <url-pattern>/unregister</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>changePwd</servlet-name>
      <servlet-class>com.realtalkserver.servlet.PasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>changePwd</servlet-name>
      <url-pattern>/changePwd</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>changeRegId</servlet-name>
      <servlet-class>com.realtalkserver.servlet.RegistrationIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>changeRegId</servlet-name>
      <url-pattern>/changeRegId</url-pattern>
  </servlet-mapping>
</web-app>